*{
  box-sizing: border-box;
}
body{
  color: #333;
  background-color:antiquewhite;
}
main{
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
 

}
header{
  display:flex;
  gap: 300px;
  margin-bottom: 50px;
  margin-top: 20px;
}
header a{
  color: inherit;
}
header a.logo{
  font-weight: bold;
}
header nav{
  display: flex;
  gap: 10px;

}
div.services{
  display: flex;
}
dis.services img{
  width: 50%
}
form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
  
}
input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  background-color:aliceblue;
  
}
button{
  display: block;
  width: 100%;
  background-color:#555;
  color: black;
}